@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
  --color-white: #f7f7f;
  --color-darkblue: #261f1f;
  --color-darkblue-alpha: #d30226;
  --color-green: #261f1f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  
}
.bg-form {
    overflow: hidden;
    position: relative;
  }
  
  .bg-img {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300%;
    background-color: #000000;
  }
  
  .fg-form {
    position: relative;
    color: var(--color-3);
  }

h1 {
  font-weight: 600;
  line-height: 1.8;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #575656;
}

.text-center {
  text-align: center;
}

/* form */

form {
  background: #6ca0cf;
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  opacity: 98%;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
  width: 100%;
  max-width: 840px;
  border-radius: calc(3 * var(--border-radius));
  opacity: 98%;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}
.submit-button {
  display: block;
  width: 250%;
  padding: 0.75rem;
  background: #072c72da;
  color: inherit;
  border-radius: 2px;
  border-color: #b1b0e9;
  cursor: pointer;
  float: right;
  color: #fff;
}
.back-button {
  display: block;
  width: 250%;
  padding: 0.75rem;
  background: #8aaae5da;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
  float: left;
  color: #fff;
  border-color: #000000;
  border-style: none;
}
.btn-group button {
  background-color: #2421e0; /* Green background */
  border: 1px solid rgb(0, 30, 128); /* Green border */
  color: white; /* White text */
  padding: 400px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: centre; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #030241;
}

#logo{
  width: 10%;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
